.card{
    width: 23vw;
    height:350px ;
    border-radius: 5%;
    overflow:hidden;
    transition: all 1s ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    box-shadow:3px 3px 10px 0px #888888ac;
    border-radius: 20px;
    margin: 15px 0;
}

.cardImagecontainer{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.CardImage{
    /* width: auto;
    height: 100%; */
    background-size: contain;
    transition: all 1s ease-out;

}

.cardBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
   
}

.cardTitle{
    height: 2.7vw;
    padding-bottom: 5vh;
    font-size: 20px;
    font-weight: bold;
    color: #3a3a3a;
}
.cardbodytext{
    text-align: center;
}


@media (max-width:900px){

    .card{
        width: 25vw;
        height: 280px;
    }
     
    .cardTitle{
        
        font-size: 17px;
        
    }
    .cardbodytext{
        font-size: 12px;
    }
}

@media (max-width:800px){

    .card{
        width: 32vw;
        height: 280px;
    }

    .cardImagecontainer{
        width: 70px;
        height: 70px;
    }
     
}


@media (max-width:550px){

    .card{
        width: 40vw;
        height: 280px;
    }
}

@media (max-width:450px){

    .card{
        width: 99%;
        height: 280px;
        margin: 40px 0;

    }
}


@media (max-width:350px){

    .card{
        height: 250px;
        margin: 40px 0;

    }
    .cardTitle{
        
        font-size: 15px;
        
    }
    .cardbodytext{
        font-size: 10px;
    }

    .cardImagecontainer{
        width: 50px;
        height: 50px;
    }
}







