.carousel{
  /* height: 400px; */
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 40px;
}


@media (max-width:380px){

  .carousel{
    padding: 30px;
  }
}
