.categorybar{
    z-index: 8;
    display: flex;
    position: relative;
    top: 5px;
    justify-content: center;

    @media (max-width:1380px){
        top: -12px;

    }
    
}

.category{
    position: fixed;
    height: 60px;
    width: 80vw;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 70px;
   border: 2px solid rgb(226, 223, 223);
   overflow: scroll;
   -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;

   &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width:900px){
    width: 90vw;
   }

   @media (max-width:650px){
    width: 98vw;
    justify-content: start;
    padding: 10px 10px;
   }
}

.categoryicon{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
    &:hover{
        color: black;
    }

    @media (max-width:1200px){
        padding: 5px 2vw;
    }
    @media (max-width:850px){
        padding: 5px 1.5vw;
    }
    @media (max-width:650px){
        padding: 5px 4.5vw;
    }

}
