.detailsPageConatiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    @media (max-width:600px) {
        margin-top: -14px;
        
    }
}

.detailspagelowerbody{
    display: flex;
    gap: 5;
    justify-content: space-between;
    padding: 15px 50px;

    @media (max-width:1200px)   
    {  
        padding: 15px 15px;
        justify-content: space-around;
        flex-direction: column;
        // flex-direction: column-reverse;

        .stayinfosection{
            width: 100%;
        }

    }

    @media (max-width:500px)
    {
        padding: 5px 5px;

    }
}

.maplocation{
    padding: 15px 30px;
    width: 100%;
    height: 500px;
    margin-top: 10px;
    overflow: hidden;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 20px;

    @media (max-width:500px)
    {
        padding: 15px 10px;

    }
}


.villareviewssection{
    width: 100%;
    // height: 400px;
    padding: 50px 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.villareviewstitle{
    display: flex;
    align-items: center;
    font-size: 30px;
}

.villareviewcardsconatiner{
    padding: 30px 3vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}