@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

.discoverSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: white;
    padding: 20px;
}



.discoverTile{
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 500;
    padding: 20px 0px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


// moved to global.css file 
// .redline{
//     width: 6vw;
//     height: 5px;
//     background-color: red;
//     margin: 0 15px;
// }


.discoverdesc{
    font-size: 20px;
    font-weight: 300;
    padding : 0 10px;
}

@media (max-width:850px){
    .discoverTile{
        font-size: 30px;
        padding: 10px 0px;
    }
    
    .aboutdesc{
        font-size: 14px;
        padding : 0 10px;
    }

}

@media (max-width:650px){
    .discoverTile{
        font-size: 22px;
        padding: 10px 0px;
    }
    
    .aboutdesc{
        font-size: 14px;
        padding : 0 10px;
    }

}