.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
}



.contactussection{
    position: relative;
    top: 140px;
    width: 85%;
    /* height: 300px; */
    z-index: 10;
    background-color: rgb(174, 171, 171);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
    border: 4px white solid;
}

.contactbg{
    opacity: 0.6;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.footersection{
    width: 100%;
    /* height: 300px; */
    z-index: 9;
    padding-top: 150px;
    background: radial-gradient(759px at 14% 22.3%, rgb(10, 64, 88) 0%, rgb(15, 164, 102) 90%);    
}

.contactusTitle{
    color: black;
    font-weight: 600;
    font-size: 30px
}


textarea{
    padding: 5px;
    align-items: center;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    
}

.contactinfo{
    display: flex;
    width: 95%;
    justify-content: space-between;
}

.contactinfoitem{
    padding-top: auto;
    padding-bottom: auto;
    width: 24%;
    height: 45px;
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
    border: 1px solid rgb(101, 101, 101);
}

.contactmessage{
    display: flex;
    width: 95%;
    height: 120px;
    justify-content: space-between;
}

.message{
    height: 100%;
    width: 74.8%;
    background-color: white;
    border-radius: 10px;

}

.submitButton{
    width: 23.8%;
    height: 100%;
    background-color: rgb(88, 87, 87);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    transition: 0.3s;

}

.submitButton:hover{
    background-color: rgb(0, 98, 0) ;
}

.footersection{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

.footerbody{
    position: relative;
    bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20vh;
    width: 95%;
    height: 50%;
    padding: 30px;
    padding-bottom: 0px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.footermenu{
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.footerlogo{
    position: relative;
    width: 120px;
    height: 70px;
    overflow: hidden;
}

.footermenutitle{
    font-weight: 550;
    font-size: 1.12rem;
    text-decoration: underline;
}

.socialicons{
    display: flex;
    gap: 10px;
}

.socialiconconatiner{
    position: relative;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.codemonkeyTrademark{
    color: rgb(224, 222, 222);
    font-size: 0.8rem;
}

@media (max-width:1200px){

    .footerbody{
        width: 100%;
    }

}

@media (max-width:1000px)  and (min-width:850px){

    .footerbody{
        width: 100%;
    }

    .footerbody{
        width: 100%;
        padding: 15px;      
    }
    .footertagline{
        font-size: 1rem;
    }

    .footermenuitem{
        font-size: 0.9rem;
    }

}

@media (max-width:870px){

    .contactussection{
        width: 95%;
    }
    .contactinfo{
        flex-wrap: wrap;
        gap: 10px;
    }

    .contactinfoitem{
        width: 48%;
    }

    .submitButton{
        font-size: 24px;
    
    }

    .footerbody{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content:left;
        align-items: baseline;
        align-content: baseline; 
        padding: 5px;
        padding-top: 15px;
    }

    .footermenuitem{
       width: 90vw;
       word-wrap: break-word;
       text-overflow: ellipsis;
    }

}

@media(max-width:450px){
    .contactmessage{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .contactmessage{
        width: 95%;
        height: 180px;
    }
    
    .message{
        width: 100%;  
        height: 70%;  
    }
    
    .submitButton{
        height: 27%;
        width: 80%;
       font-size: 27px;
    }
}


@media(max-width:350px){
    .contactinfoitem{
        width: 100%;
    }
    
}


