.listingpage{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    

}

.listingpagecontainer{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;

    @media (max-width:900px){
      width: 96%;
    }
    @media (max-width:850px){
      width: 92%;
    }
    @media (max-width:550px){
      justify-content: space-around;
  }
}
