.reservationcardconatiner{

    @media (max-width: 1200px){
            width: 100%;
            display: flex;   
            justify-content: center;
    
    }

}

.reservationcard{
    // position: relative;
    width: 27vw;
    background-color: rgb(254, 254, 254);
    border-radius: 20px;
    box-shadow:
      1px 2px 2px hsla(0, 0%, 47%, 0.333),
      2px 4px 4px hsla(0, 0%, 47%, 0.333),
      3px 6px 6px hsla(0, 0%, 47%, 0.333);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    z-index: 5;

    @media (max-width: 1200px){
            width: 80%;
            margin-bottom: 0px;
    }
    @media (max-width: 600px){
        width: 90%;
}
}

.reservationcardprice{
    display: flex;
    align-items: center;
    font-size: 22px;
    align-self: flex-start;
    padding: 20px;
    padding-bottom: 10px;
    span{
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 19px;
        font-weight: 400;
        color: gray;
        padding-left: 5px;
    }
}

.reservationdetailsinput{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100px;
    border-radius: 10px;
    border: 2px solid rgba(62, 62, 62, 0.4);
    width: 90%;
    h2{
        font-size: 12px;
        font-weight: 650;
    }
    h1{
        margin-top: -2px;
        font-size: 15px;
        color: rgb(95, 94, 94);
    }
}

.reservationdates{
    border-bottom: 2px solid rgba(62, 62, 62, 0.4);
    height: 50%;
    display: flex;
}

.reservationcheckin{
    padding: 1px 10px;
    border-right: 2px solid rgba(62, 62, 62, 0.4);
    width: 50%;
}

.reservationguests{
    z-index: 5;
    padding: 1px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.reservationcheckout{
    padding: 1px 10px;
}

.reservationdetailscontainer{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.reservationcheckavilabilitybutton{
   margin-top: 10px;
   width: 90%;
   height: 50px;
   background-color: rgb(207, 41, 41);
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 19px;
}

.reservationCardCalculationsconatiner{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.reservationCardCalculation{
    display: flex;
    align-items: baseline;
    h3{
        color: gray;
        font-size: 13px;
    }
}

.reservationButton{

    margin-top: 10px;
   width: 90%;
   height: 50px;
   background-color: green;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 19px;

}

.addguestpopupMenuconatiner{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    width: 100%;
    z-index: 2;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: gray;
}

.addguestpopupMenu{
    width: 100%;
    padding: 20px; 
    // background-color: aqua;
    width: 90%;
    align-self: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(250, 218, 158, 0.349);
}

.addguestpopupMenuitem{
    display: flex;
    justify-content: space-between;
}

.addguestpopupMenuiteaddminus{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;

    p{
        width: 20px;
        text-align: center;
    }
}

.popupaddminusicon{
    cursor: pointer;
}