// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.stayinfosection{
    width: 71%;
    @media (max-width:600px) {
        width: 100%;
        
    }
}

hr{
    margin: 12px 10px;
}

.villadetails{
    // color: black;
    padding: 20px 60px;
    padding-top: 5px;
    background-color: white;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    gap: 4px;
    @media (max-width:600px) {
        padding: 10px 10px;
        
    }
}

.villadetailstitleandfavoutirehareicons{
    font-size: 28px;
    font-weight: 530;
    display: flex;
    justify-content: space-between;

}

.villadetailstitle{
    width: 85%;
}
.villadetailsfavouriteandshare{
    display: flex;
    align-items: center;
    gap: 25px;
    p{
        font-size: 14px;
    }
}

.villaquickdetails{
    margin-top: -8px;
}

.villareview{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 18px;
}

.reviewslink{
    padding-left: 10px;
    text-decoration: underline;
    font-weight: 550;
}

.hosterdetails{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hosterimage{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-color: blue;
}

.hostername{
    color: gray;
    font-size: 17px;

}

.hostedby{
    font-size: 14px;
    font-weight: 500;
    color: black;
}

.villadetaildescriptioncontainer{
    padding-top: 10px;
    font-size: 18px;
    color: rgb(89, 89, 89);
}

.villadeatilsdescriptioncontent{
    overflow: hidden;
    max-height: 193px;

}

.villadetailshowmore{
    padding-top: 12px;
    color: black;
    width: 120px;
    display: flex;
    justify-content: space-between;
}

.villadetailsamenitiestitle{
    font-size: 28px ;
}

.amenitiesoptionsconatiner{
    width: 92%;
    height: 300px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    overflow: hidden;
    @media (max-width:600px) {
        width: 100%;
        padding: 20px 5px;
        justify-content: space-between;
        margin-bottom: 10px;
       
    }
}

.amentinitiesoption{
   width: 40%;
   height: 50px;
   display: flex;
   align-items: center;
   gap: 5px;

   p{
    font-size: 18.5px;
    font-weight: 400;
    color: gray;
    word-wrap: break-word;
   }

   @media (max-width:350px) {
    width: 95%;
   
    }
}
.amentiniesicon{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-color: black;
}

.showallamenitiesbutton{
    font-size: 20px;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
}

.modal{
    border-radius: 20px;
}


.modal-box{
    background-color: white;
    margin-top: 20px;
    display: flex;
    width: 85vw;
    height: 90vh;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 100;
    padding: 70px;
    gap: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
    
    @media (max-width:900px) {
        padding: 70px 40px;      
    }
    @media (max-width:600px) {
        padding: 60px 20px;
    }
}

.showmorepopupcontentdetails{
    background-color: white;
    
}

.closemodal{
    z-index: 101;
    position: fixed;
    top: 55px;
    left: 9.5vw;
    size: 80px;
    background-color: white;
    padding: 10px;
    border-radius: 6px;
}

.modalamenitiesoptionsconatiner{
    align-self: center;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;

}

.modalamentinitiesoption{
   display: flex;
   width: 32%;
   gap: 5px;
   @media (max-width:1200px) {
    width: 45%;  
   }
   @media (max-width:900px) {
    width: 99%;  
   }
}


.sharemodalconatiner{
    width: 20vw;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.closepopupbutton{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0%;
    left: 0%;
}

.sharemodalsocialicons{
    display: flex;
    width: 100%;
    gap: 20px;
}
